<div class=" px-4 pt-4 pb-4 flex-grow-1 " style="background-color: #f2f2f2">

  <div class="d-flex align-items-center justify-content-between mb-5">
    <div class="text-primary">
      Ваш баланс:
      <strong *cqGetAccountScore="let score">{{score|number:'1.0-0'}}</strong>
      &nbsp;<i class="fa fa-copyright"></i>
    </div>
  </div>

  <h4 class="mb-4">Магазин</h4>

  <div class="pt-2 mb-5" *cqGetProducts="let products">

    <div class="product-list-item shadow mb-4" [routerLink]="product.id" *ngFor="let product of products">
      <div class="d-flex">
        <div class="product-list-item-thumb flex-shrink-0 mr-2">
          <img [src]="product.listImage" class="d-block w-100">
        </div>
        <div class="flex-grow-1 px-4 pt-4 pb-3 d-flex flex-column justify-content-between">
          <div class="product-list-item-descr pt-1">
            <p>{{product.title}}</p>
          </div>
          <div>
            <span class="product-list-item-price mb-1">{{product.price | number:'1.0-0'}} <i
              class="fa fa-copyright"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
