.app-header {
  flex-shrink: 0;
}

.app-header-main {
  height:8.6rem;
  color:#fff;
  /*background: linear-gradient(to right, rgba($primary,.7) 0%, $primary 100%);*/
  padding:2.2rem 1.6rem 0.8rem;
}

.app-header-brand {
  text-align: center;
  flex-grow: 1;
  font-size:2.0rem;
  font-weight: 400;
  .light {
    font-weight: 300;
  }
}

.app-header-tools {
  flex-basis: 9.5rem;
  min-width: 9.5rem;
  display: flex;
  justify-content: flex-end;
  &:first-of-type {
    justify-content: flex-start;
  }
  .tool-item {
    margin:0 0 0 .8rem;
    display: flex;
    align-items: center;
    position: relative;
    .fa {
      font-size:2.2rem;
      color:#fff;

    }
    &.item-go-back {
      .fa {
        font-size:2.5rem;
        line-height: 1;
        color:#fff;
      }
      a {

      }
    }
    .count {
      border-radius:50%;
      font-size:1.0rem;
      line-height: .7;
      font-weight: 500;
      text-align: center;
      display: inline-block;
      padding:.5rem;
      background: #E64B47;
      color:#fff;
      position: absolute;
      right:-.6rem;
      top:-.2rem;
      z-index:200;

    }
  }
  &:first-of-type {
    .tool-item {
      margin:0 .8rem 0 0;
    }
  }
}

.nav-toggle {
  display: block;
  width:2.4rem;
  margin-left:1.4rem;
  &:before, &:after, i {
    content:' ';
    display: block;
    height:.3rem;
    margin:.5rem 0;
    background: #fff;
  }
}