html {
  height:100%;
  font-size:10px;
  @include mq-mobile(){
    font-size:2.666vw;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  height:100%;

}

img {
  max-width:100%;
}

.app-container {
  max-width:37.5rem;
  height:100%;
  margin:0 auto;
  background: linear-gradient(to right, rgba($primary,.7) 0%, $primary 100%);
}

.app-body {
  flex-grow: 1;
  overflow-y: auto;
}