$primary: #642887;
$secondary: #c5327f;

$body-bg: #eee;

$font-size-base: 1.6rem;

$enable-gradients: true;

/*$input-btn-font-size: 1.8rem;*/
$btn-font-weight:500;
$font-family-sans-serif: 'Roboto', sans-serif;
$input-btn-font-family: 'Roboto', sans-serif;
$headings-font-family: 'Roboto', sans-serif;

$input-btn-font-size: $font-size-base*1.13;

$btn-border-radius:           2.5rem;
$btn-border-radius-lg:        2.8rem;
$btn-border-radius-sm:        1.5rem;
$input-btn-padding-y: 1.2rem;
$input-btn-padding-x: 1.2rem;
$input-btn-padding-y-lg: 1.5rem;
$input-btn-padding-x-lg: 1.5rem;
$input-btn-padding-y-sm: 0.3rem;
$input-btn-padding-x-sm: 2.0rem;

$grid-gutter-width:1.6rem;

@import "~bootstrap/scss/bootstrap";