.welcome-logo {
  font-size:4.5rem;
  font-weight:400;
  text-align: center;
  .light {
    font-weight:300;
  }
}

.nav-box {
  background: linear-gradient(340.37deg, #E3E3E3 15.59%, #F2F2F2 83.91%);
  border-radius:.6rem;
  text-align: center;
  padding:1.5rem 2.0rem;
  margin-bottom:2.6rem;
  height:9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow:0 .6rem 0.8rem 0 rgba(0,0,0,.2);
  &:after {

  }
  img {
    display: block;
    max-width: 100%;
  }
}

.product-list-item {
  border-radius: .6rem 2.5rem .6rem 2.5rem;
  background: #fff;
  &:active {
    background-color: #e8e8e8;
  }
}
.product-list-item-thumb {
  flex-basis:10.5rem;
  min-width:10.5rem;
  min-height:10.0rem;
  border-radius: .6rem 2.5rem .6rem 2.5rem;
  background: #EFEFEF;
  overflow: hidden;
}
.product-list-item-descr {
  font-size:1.4rem;
  line-height: 1.3;
}
.product-list-item-price {
  display: inline-block;
  padding:0.3rem 1.5rem;
  background: $secondary;
  font-size:1.6rem;
  line-height: 1.2;
  color:#fff;
  border-radius:3.5rem;
}

.categories-slider {
  overflow-x: auto;
}
.categories-slider-item {
  width:14.4rem;
  flex-basis:14.4rem;
  flex-shrink: 0;
  margin-right:1.6rem;
  border-radius: .6rem 2.5rem .6rem 2.5rem;
  background-color: #fff;
  font-size:1.4rem;
  -webkit-backface-visibility: hidden;
  &:active {
    background-color: #e8e8e8;
  }
  .icon {
    min-height:10.0rem;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .6rem 2.5rem .6rem 0;
    img {
      display: block;
      margin:auto;
    }
  }
  h5 {
    font-size:1.5rem;
    font-weight:700;
  }
}