<div class="bg-white px-4 pt-5 pb-4 flex-grow-1 d-flex flex-column justify-content-between">
  <div class="" *cqGetPromotions="let promotions">
    <div class="text-center">
      <h4 class="mb-4">Акции</h4>
    </div>
    <div class="card mb-4" [routerLink]="promotion.id" *ngFor="let promotion of promotions">
      <div class="bd-placeholder-img card-img-top">
        <img [src]="promotion.listImage" class="w-100"/>
      </div>
      <div class="card-body">
        <h5>{{promotion.title}}</h5>
        <p class="card-text">{{promotion.listSubtitle}}</p>
      </div>
    </div>
  </div>
  <div class="">
    <button disabled class="btn btn-outline-primary btn-block">Показать завершенные акции</button>
  </div>
</div>
