<ng-container *cqGetProduct="let product by (id$|async); let buy = buy">
  <div class="" *ngIf="product.image">
    <img [src]="product.image" class="w-100">
  </div>
  <div class="bg-primary text-white py-4 px-4">
    <h3 class="mb-3 pt-2">{{product.title}}</h3>
    <div class="d-flex align-items-center justify-content-between">
      <div>{{product.price | number:'1.0-0'}} <i class="fa fa-copyright"></i></div>
      <div>
        <button class="btn btn-sm btn-light text-primary" (click)="buy(product, afterBought)">Получить</button>
      </div>
    </div>
  </div>
  <div class="bg-white px-4 pt-5 pb-4 flex-grow-1 d-flex flex-column justify-content-between">
    <div class="">
      <h4 class="mb-3">Описание</h4>
      <div [innerHTML]="product.description"></div>
    </div>
  </div>
</ng-container>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title"> Спасибо за покупку!</h4>
  </div>
</ng-template>
