<div class="bg-white px-4 py-5 flex-grow-1 d-flex flex-column justify-content-between" *ngIf="!added">
  <div class="text-center">
    <h4>Добавить код</h4>
  </div>
  <div class="" [ngSwitch]="submitting|async">
    <div class="mb-5">
      <input type="text" class="form-control text-center" placeholder="Введите код" #input>
    </div>
    <div class="mb-4" *ngSwitchDefault>
      <button class="btn btn-secondary btn-lg btn-block" (click)="register(input.value)">
        <i class="fa fa-plus align-middle mr-2"></i> Добавить
      </button>
    </div>
    <div class="mb-4 text-center" *ngSwitchCase="true">
      <i class="fa fa-spin fa-spinner fa-2x"></i>
    </div>
  </div>
  <div class="">
<!--    <button class="btn btn-outline-primary btn-lg btn-block">Отсканировать код</button>-->
  </div>
</div>

<div class="bg-white px-4 pt-5 pb-4 flex-grow-1 d-flex flex-column justify-content-between" *ngIf="added">
  <div class="text-center">
    <h4>Код успешно добавлен</h4>
  </div>

  <div class="" *cqGetPromotion="let promotion by promotionId">
    <div class="bg-secondary text-white p-5 mb-5">
      <h4>Начислено</h4>
      <h2>{{price}} <i class="fa fa-copyright"></i> </h2>
      {{promotion.title}}
    </div>
    <div class="pt-3 mb-4">
      <a [routerLink]="['/promotion', promotionId]" class="btn btn-outline-primary btn-l btn-block">Перейти к акции</a>
    </div>
    <div class="mb-4">
      <button (click)="added=false" class="btn btn-secondary btn-lg btn-block">Добавить новый код</button>
    </div>
  </div>
  <div class="">
    <a routerLink="/" class="btn btn-light btn-block"><i class="fa fa-long-arrow-left mr-2"></i> Вернуться на главную</a>
  </div>
</div>
