<div class="flex-grow-1 d-flex flex-column justify-content-center">
  <div class="px-4 pt-5 text-white">
    <div class="welcome-logo mb-5">
      Code<span class="light">Quest</span>
    </div>
    <ng-container *ngIf="!requestCode">
      <form [formGroup]="formPhoneRequest" (ngSubmit)="login()">
        <div class="mb-4">
          <input type="text"
                 class="form-control text-center"
                 placeholder="Введите номер телефона"
                 name="phone"
                 formControlName="phone">
        </div>
        <div class="mb-5">
          <button class="btn btn-light btn-block text-primary">Войти</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="requestCode">
      <form [formGroup]="formCodeRequest" (ngSubmit)="confirm()">
        <div class="mb-4">
          <input type="text"
                 class="form-control text-center"
                 placeholder="Введите код из SMS"
                 name="code"
                 formControlName="code">
        </div>
        <div class="mb-5">
          <button class="btn btn-light btn-block text-primary">Подтвердить</button>
        </div>
      </form>
    </ng-container>
  </div>
  <div #recaptcha></div>
</div>
