<div class="flex-grow-1 d-flex flex-column justify-content-center text-white">
  <div class="text-center mb-2">
    <h4 class="font-weight-normal">Ваш баланс</h4>
    <h1 class="font-weight-light" *cqGetAccountScore="let score">
      {{score|number:'1.0-0'}} <i class="fa fa-copyright"></i>
    </h1>
  </div>
</div>

<div class="px-4 py-5 bg-white">
  <div class="mb-4">
    <a routerLink="/register-code" class="btn btn-secondary btn-lg btn-block"><i
      class="fa fa-plus align-middle mr-2"></i> Добавить код</a>
  </div>
  <div class="row pt-5">
    <div class="col-4" routerLink="/history">
      <div class="nav-box">
        <img src="assets/images/icon-history-primary.svg"/>
      </div>
      <div class="text-primary text-center text-uppercase">
        История
      </div>
    </div>
    <div class="col-4" routerLink="/promotion">
      <div class="nav-box">
        <img src="assets/images/icon-promotion-primary.svg"/>
      </div>
      <div class="text-primary text-center text-uppercase">
        Акции
      </div>
    </div>
    <div class="col-4" routerLink="/shop">
      <div class="nav-box">
        <img src="assets/images/icon-shop-primary.svg"/>
      </div>
      <div class="text-primary text-center text-uppercase">
        Магазин
      </div>
    </div>
  </div>
</div>
