<ng-container *cqGetPromotion="let promotion by (id$|async)">
  <div class="" *ngIf="promotion.image">
    <img [src]="promotion.image" class="w-100">
  </div>
  <div class="bg-white px-4 pt-4 pb-4 flex-grow-1 d-flex flex-column justify-content-between">
    <div class="" [innerHTML]="promotion.description"></div>

    <!--  <div class="pt-3">-->
    <!--    <a href="#" class="btn btn-primary btn-block">Мои коды</a>-->
    <!--  </div>-->
  </div>
</ng-container>
