<div class="app-header">
  <div class="app-header-main d-flex justify-content-between align-items-center">
    <div class="app-header-tools">
      <div class="tool-item item-go-back" (click)="goBack()"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="app-header-brand">
      Code<span class="light">Quest</span>
    </div>
    <div class="app-header-tools ">
      <div class="tool-item d-none">
        <i class="fa fa-bell-o"></i>
        <span class="count">3</span>
      </div>
      <div class="tool-item ml-4" (click)="logout()">
        <i class="fa fa-sign-out"></i>
      </div>
      <div class="tool-item d-none"><span class="nav-toggle m-0" id="nav-toggle"><i></i></span></div>
    </div>
  </div>
</div>
<div class="app-body flex-grow-1 d-flex flex-column">
  <router-outlet></router-outlet>
</div>
